In [40]:
import os

import pandas as pd

In [74]:
# codegen 
for df_name in os.listdir('data'):
    print(f"{df_name[:-4]} = pd.read_csv('data/{df_name}')")

D_loan = pd.read_csv('data/D_loan.csv')
D_clients = pd.read_csv('data/D_clients.csv')
D_last_credit = pd.read_csv('data/D_last_credit.csv')
D_pens = pd.read_csv('data/D_pens.csv')
D_salary = pd.read_csv('data/D_salary.csv')
D_target = pd.read_csv('data/D_target.csv')
D_work = pd.read_csv('data/D_work.csv')
D_job = pd.read_csv('data/D_job.csv')
D_close_loan = pd.read_csv('data/D_close_loan.csv')

In [25]:
D_loan = pd.read_csv('data/D_loan.csv')
D_clients = pd.read_csv('data/D_clients.csv')
D_last_credit = pd.read_csv('data/D_last_credit.csv')
D_pens = pd.read_csv('data/D_pens.csv')
D_salary = pd.read_csv('data/D_salary.csv')
D_target = pd.read_csv('data/D_target.csv')
D_work = pd.read_csv('data/D_work.csv')
D_job = pd.read_csv('data/D_job.csv')
D_close_loan = pd.read_csv('data/D_close_loan.csv')

In [57]:
D_clients

,ID,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,FL_PRESENCE_FL,OWN_AUTO
0,106805103,42,1,Среднее,Не состоял в браке,1,0,1,0,Московская область,Московская область,Московская область,1,0
1,106809308,28,1,Среднее специальное,Состою в браке,1,1,1,0,Читинская область,Читинская область,Читинская область,0,0
2,106805867,64,0,Среднее специальное,Состою в браке,2,0,1,1,Иркутская область,Иркутская область,Иркутская область,0,1
3,106808779,54,1,Среднее специальное,Состою в браке,0,0,1,0,Новосибирская область,Новосибирская область,Новосибирская область,1,1
4,106814289,26,0,Среднее специальное,Состою в браке,1,1,1,0,Красноярский край,Красноярский край,Красноярский край,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,106814680,26,1,Среднее,Не состоял в браке,1,1,1,0,Чувашия,Чувашия,Чувашия,0,0
15996,106812464,26,0,Среднее специальное,Состою в браке,0,0,1,0,Карелия,Карелия,Карелия,0,0
15997,106809255,30,1,Среднее специальное,Не состоял в браке,0,0,1,0,Белгородская область,Белгородская область,Белгородская область,0,0
15998,106814593,25,0,Среднее специальное,Состою в браке,0,0,1,0,Кабардино-Балкария,Кабардино-Балкария,Кабардино-Балкария,0,0
15999,106813640,26,1,Высшее,Не состоял в браке,0,0,1,0,Татарстан,Татарстан,Татарстан,1,0

In [71]:
df_1 = pd.merge(D_clients, D_job, how='left', left_on='ID', right_on='ID_CLIENT').drop('ID_CLIENT', axis=1)
df_1.head(3)

,ID,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,FACT_ADDRESS_PROVINCE,POSTAL_ADDRESS_PROVINCE,FL_PRESENCE_FL,OWN_AUTO,GEN_INDUSTRY,GEN_TITLE,JOB_DIR,WORK_TIME
0,106805103,42,1,Среднее,Не состоял в браке,1,0,1,0,Московская область,Московская область,Московская область,1,0,Другие сферы,Работник сферы услуг,Участие в основ. деятельности,3.0
1,106809308,28,1,Среднее специальное,Состою в браке,1,1,1,0,Читинская область,Читинская область,Читинская область,0,0,Торговля,Специалист,Участие в основ. деятельности,5.0
2,106805867,64,0,Среднее специальное,Состою в браке,2,0,1,1,Иркутская область,Иркутская область,Иркутская область,0,1,Другие сферы,Руководитель высшего звена,Участие в основ. деятельности,360.0

In [72]:
df_2 = pd.merge(df_1, D_last_credit, how='left', left_on='ID', right_on='ID_CLIENT').drop('ID_CLIENT', axis=1)
df_2.head(3)

,ID,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,...,POSTAL_ADDRESS_PROVINCE,FL_PRESENCE_FL,OWN_AUTO,GEN_INDUSTRY,GEN_TITLE,JOB_DIR,WORK_TIME,CREDIT,TERM,FST_PAYMENT
0,106805103,42,1,Среднее,Не состоял в браке,1,0,1,0,Московская область,...,Московская область,1,0,Другие сферы,Работник сферы услуг,Участие в основ. деятельности,3.0,5588.0,6.0,1000.0
1,106809308,28,1,Среднее специальное,Состою в браке,1,1,1,0,Читинская область,...,Читинская область,0,0,Торговля,Специалист,Участие в основ. деятельности,5.0,19498.0,12.0,0.0
2,106805867,64,0,Среднее специальное,Состою в браке,2,0,1,1,Иркутская область,...,Иркутская область,0,1,Другие сферы,Руководитель высшего звена,Участие в основ. деятельности,360.0,15470.0,3.0,15000.0

In [73]:
df_3 = pd.merge(df_2, D_salary, how='left', left_on='ID', right_on='ID_CLIENT').drop('ID_CLIENT', axis=1)
df_3.head(3)

,ID,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,...,OWN_AUTO,GEN_INDUSTRY,GEN_TITLE,JOB_DIR,WORK_TIME,CREDIT,TERM,FST_PAYMENT,FAMILY_INCOME,PERSONAL_INCOME
0,106805103,42,1,Среднее,Не состоял в браке,1,0,1,0,Московская область,...,0,Другие сферы,Работник сферы услуг,Участие в основ. деятельности,3.0,5588.0,6.0,1000.0,от 20000 до 50000 руб.,25000.0
1,106809308,28,1,Среднее специальное,Состою в браке,1,1,1,0,Читинская область,...,0,Торговля,Специалист,Участие в основ. деятельности,5.0,19498.0,12.0,0.0,от 10000 до 20000 руб.,10000.0
2,106805867,64,0,Среднее специальное,Состою в браке,2,0,1,1,Иркутская область,...,1,Другие сферы,Руководитель высшего звена,Участие в основ. деятельности,360.0,15470.0,3.0,15000.0,от 20000 до 50000 руб.,30000.0

In [76]:
df_4 = pd.merge(df_3, D_target, how='left', left_on='ID', right_on='ID_CLIENT').drop('ID_CLIENT', axis=1)
df_4.head(3)

,ID,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,...,GEN_TITLE,JOB_DIR,WORK_TIME,CREDIT,TERM,FST_PAYMENT,FAMILY_INCOME,PERSONAL_INCOME,AGREEMENT_RK,TARGET
0,106805103,42,1,Среднее,Не состоял в браке,1,0,1,0,Московская область,...,Работник сферы услуг,Участие в основ. деятельности,3.0,5588.0,6.0,1000.0,от 20000 до 50000 руб.,25000.0,60099204.0,1.0
1,106809308,28,1,Среднее специальное,Состою в браке,1,1,1,0,Читинская область,...,Специалист,Участие в основ. деятельности,5.0,19498.0,12.0,0.0,от 10000 до 20000 руб.,10000.0,62244665.0,0.0
2,106805867,64,0,Среднее специальное,Состою в браке,2,0,1,1,Иркутская область,...,Руководитель высшего звена,Участие в основ. деятельности,360.0,15470.0,3.0,15000.0,от 20000 до 50000 руб.,30000.0,61050759.0,0.0

In [102]:
df_5 = pd.merge(
    df_4,
    D_loan.groupby(by='ID_CLIENT').count().rename(columns={'ID_LOAN': 'LOAN_NUM_TOTAL'}),
    how='left', left_on='ID', right_index=True
)
df_5

,ID,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,...,JOB_DIR,WORK_TIME,CREDIT,TERM,FST_PAYMENT,FAMILY_INCOME,PERSONAL_INCOME,AGREEMENT_RK,TARGET,LOAN_NUM_TOTAL
0,106805103,42,1,Среднее,Не состоял в браке,1,0,1,0,Московская область,...,Участие в основ. деятельности,3.0,5588.0,6.0,1000.0,от 20000 до 50000 руб.,25000.0,60099204.0,1.0,1.0
1,106809308,28,1,Среднее специальное,Состою в браке,1,1,1,0,Читинская область,...,Участие в основ. деятельности,5.0,19498.0,12.0,0.0,от 10000 до 20000 руб.,10000.0,62244665.0,0.0,1.0
2,106805867,64,0,Среднее специальное,Состою в браке,2,0,1,1,Иркутская область,...,Участие в основ. деятельности,360.0,15470.0,3.0,15000.0,от 20000 до 50000 руб.,30000.0,61050759.0,0.0,1.0
3,106808779,54,1,Среднее специальное,Состою в браке,0,0,1,0,Новосибирская область,...,Участие в основ. деятельности,3.0,13960.0,6.0,2500.0,от 20000 до 50000 руб.,25000.0,62079659.0,0.0,1.0
4,106814289,26,0,Среднее специальное,Состою в браке,1,1,1,0,Красноярский край,...,Участие в основ. деятельности,12.0,11890.0,6.0,8000.0,от 10000 до 20000 руб.,15000.0,66583553.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16295,106814680,26,1,Среднее,Не состоял в браке,1,1,1,0,Чувашия,...,Участие в основ. деятельности,36.0,11750.0,4.0,1900.0,от 5000 до 10000 руб.,8000.0,66751099.0,0.0,2.0
16296,106812464,26,0,Среднее специальное,Состою в браке,0,0,1,0,Карелия,...,Участие в основ. деятельности,24.0,12350.0,6.0,1380.0,от 20000 до 50000 руб.,12000.0,64562377.0,0.0,1.0
16297,106809255,30,1,Среднее специальное,Не состоял в браке,0,0,1,0,Белгородская область,...,Участие в основ. деятельности,36.0,4915.0,10.0,2000.0,от 5000 до 10000 руб.,9000.0,62236542.0,0.0,1.0
16298,106814593,25,0,Среднее специальное,Состою в браке,0,0,1,0,Кабардино-Балкария,...,Участие в основ. деятельности,36.0,5860.0,3.0,2000.0,от 10000 до 20000 руб.,12000.0,66739926.0,0.0,1.0
16299,106813640,26,1,Высшее,Не состоял в браке,0,0,1,0,Татарстан,...,Вспомогательный техперсонал,12.0,15700.0,6.0,3000.0,от 10000 до 20000 руб.,10500.0,66077514.0,0.0,1.0

In [123]:
loans_aggregated = (
    pd.merge(D_loan, D_close_loan, how='left', on='ID_LOAN')
    .groupby(by='ID_CLIENT')
    .count()
    .rename(columns={'ID_LOAN': 'LOAN_NUM_TOTAL', 'CLOSED_FL': 'LOAN_NUM_CLOSED'})
)
loans_aggregated

           LOAN_NUM_TOTAL  LOAN_NUM_CLOSED
ID_CLIENT
106804370               1                1
106804371               1                1
106804372               2                2
106804373               1                1
106804374               2                2
...                   ...              ...
106819588               3                3
106819589               1                1
106819590               1                1
106819591               1                1
106819592               1                1

[15223 rows x 2 columns]

In [124]:
df_6 = pd.merge(
    df_5,
    loans_aggregated,
    how='left', left_on='ID', right_on='ID_CLIENT'
)
df_6

,ID,AGE,GENDER,EDUCATION,MARITAL_STATUS,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,REG_ADDRESS_PROVINCE,...,CREDIT,TERM,FST_PAYMENT,FAMILY_INCOME,PERSONAL_INCOME,AGREEMENT_RK,TARGET,LOAN_NUM_TOTAL_x,LOAN_NUM_TOTAL_y,LOAN_NUM_CLOSED
0,106805103,42,1,Среднее,Не состоял в браке,1,0,1,0,Московская область,...,5588.0,6.0,1000.0,от 20000 до 50000 руб.,25000.0,60099204.0,1.0,1.0,1.0,1.0
1,106809308,28,1,Среднее специальное,Состою в браке,1,1,1,0,Читинская область,...,19498.0,12.0,0.0,от 10000 до 20000 руб.,10000.0,62244665.0,0.0,1.0,1.0,1.0
2,106805867,64,0,Среднее специальное,Состою в браке,2,0,1,1,Иркутская область,...,15470.0,3.0,15000.0,от 20000 до 50000 руб.,30000.0,61050759.0,0.0,1.0,1.0,1.0
3,106808779,54,1,Среднее специальное,Состою в браке,0,0,1,0,Новосибирская область,...,13960.0,6.0,2500.0,от 20000 до 50000 руб.,25000.0,62079659.0,0.0,1.0,1.0,1.0
4,106814289,26,0,Среднее специальное,Состою в браке,1,1,1,0,Красноярский край,...,11890.0,6.0,8000.0,от 10000 до 20000 руб.,15000.0,66583553.0,0.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16295,106814680,26,1,Среднее,Не состоял в браке,1,1,1,0,Чувашия,...,11750.0,4.0,1900.0,от 5000 до 10000 руб.,8000.0,66751099.0,0.0,2.0,2.0,2.0
16296,106812464,26,0,Среднее специальное,Состою в браке,0,0,1,0,Карелия,...,12350.0,6.0,1380.0,от 20000 до 50000 руб.,12000.0,64562377.0,0.0,1.0,1.0,1.0
16297,106809255,30,1,Среднее специальное,Не состоял в браке,0,0,1,0,Белгородская область,...,4915.0,10.0,2000.0,от 5000 до 10000 руб.,9000.0,62236542.0,0.0,1.0,1.0,1.0
16298,106814593,25,0,Среднее специальное,Состою в браке,0,0,1,0,Кабардино-Балкария,...,5860.0,3.0,2000.0,от 10000 до 20000 руб.,12000.0,66739926.0,0.0,1.0,1.0,1.0
16299,106813640,26,1,Высшее,Не состоял в браке,0,0,1,0,Татарстан,...,15700.0,6.0,3000.0,от 10000 до 20000 руб.,10500.0,66077514.0,0.0,1.0,1.0,1.0

In [126]:
df_7 = df_6.drop(
    [
        'ID',
        'EDUCATION',
        'MARITAL_STATUS',
        'REG_ADDRESS_PROVINCE',
        'FACT_ADDRESS_PROVINCE',
        'POSTAL_ADDRESS_PROVINCE',
        'FL_PRESENCE_FL',
        'OWN_AUTO',
        'GEN_INDUSTRY',
        'GEN_TITLE',
        'JOB_DIR',
        'WORK_TIME',
        'CREDIT',
        'TERM',
        'FST_PAYMENT',
        'FAMILY_INCOME'
    ],
    axis=1
)
df_7

,AGE,GENDER,CHILD_TOTAL,DEPENDANTS,SOCSTATUS_WORK_FL,SOCSTATUS_PENS_FL,PERSONAL_INCOME,AGREEMENT_RK,TARGET,LOAN_NUM_TOTAL_x,LOAN_NUM_TOTAL_y,LOAN_NUM_CLOSED
0,42,1,1,0,1,0,25000.0,60099204.0,1.0,1.0,1.0,1.0
1,28,1,1,1,1,0,10000.0,62244665.0,0.0,1.0,1.0,1.0
2,64,0,2,0,1,1,30000.0,61050759.0,0.0,1.0,1.0,1.0
3,54,1,0,0,1,0,25000.0,62079659.0,0.0,1.0,1.0,1.0
4,26,0,1,1,1,0,15000.0,66583553.0,0.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
16295,26,1,1,1,1,0,8000.0,66751099.0,0.0,2.0,2.0,2.0
16296,26,0,0,0,1,0,12000.0,64562377.0,0.0,1.0,1.0,1.0
16297,30,1,0,0,1,0,9000.0,62236542.0,0.0,1.0,1.0,1.0
16298,25,0,0,0,1,0,12000.0,66739926.0,0.0,1.0,1.0,1.0
16299,26,1,0,0,1,0,10500.0,66077514.0,0.0,1.0,1.0,1.0

In [132]:
df_8 = df_7.drop_duplicates()
f"Dropped {df_7.shape[0] - df_8.shape[0]} dublicates"

'Dropped 706 dublicates'

In [142]:
df_9 = df_8.dropna(subset=['TARGET'])
f"Dropped {df_8.shape[0] - df_9.shape[0]} N/A target rows"

'Dropped 371 N/A target rows'

In [143]:
# TO add new processes, add code above + update number below

In [144]:
df_prepared = df_9

assert not df_prepared.duplicated().any()

df_prepared.isna().any()

AGE                  False
GENDER               False
CHILD_TOTAL          False
DEPENDANTS           False
SOCSTATUS_WORK_FL    False
SOCSTATUS_PENS_FL    False
PERSONAL_INCOME      False
AGREEMENT_RK         False
TARGET               False
LOAN_NUM_TOTAL_x     False
LOAN_NUM_TOTAL_y     False
LOAN_NUM_CLOSED      False
dtype: bool

In [145]:
# все числовое =)
df_prepared.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15223 entries, 0 to 16299
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AGE                15223 non-null  int64
 1   GENDER             15223 non-null  int64
 2   CHILD_TOTAL        15223 non-null  int64
 3   DEPENDANTS         15223 non-null  int64
 4   SOCSTATUS_WORK_FL  15223 non-null  int64
 5   SOCSTATUS_PENS_FL  15223 non-null  int64
 6   PERSONAL_INCOME    15223 non-null  float64
 7   AGREEMENT_RK       15223 non-null  float64
 8   TARGET             15223 non-null  float64
 9   LOAN_NUM_TOTAL_x   15223 non-null  float64
 10  LOAN_NUM_TOTAL_y   15223 non-null  float64
 11  LOAN_NUM_CLOSED    15223 non-null  float64
dtypes: float64(6), int64(6)
memory usage: 1.5 MB

In [146]:
df_prepared.to_csv('dataset.csv')